<article class="col-md-12">
  <div class="col-md-8">
    <header>
      <h1><%= @budget.name %></h1>
      <h2>enviou um orçamento</h2>
    </header>
    <p>
      <%= @budget.body %>
    </p>
  </div>
  <div class="col-md-4">
    <ul>
      <li><%= @budget.phone %></li>
      <li><%= @budget.mail %></li>
    </ul>
  </div>
</article>
