<h1>Recibo de Entrega</h1>

<%= "São Paulo, 13 de Janeiro de 2016" %>

<p>Eu, <%= @receipt.contract.responsable %>, em nome da empresa <%= @receipt.contract.customer %>,
  inscrita no CNPJ<hr> declaro ter recebido os
  equipamentos <hr> pelo período de de <hr> em perfeitas condições de uso no
  endereço <hr> no dia <hr> de acordo com o contrato <hr>
</p>
</br>
</br>
</br>
<hr>
</br>
Assinatura do Responsável
